body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.container {
    width: 100%;
    
  }
  
  
  .container th {
    width: 50%;
  background-color: #cbeaeb;
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}


  #htmldata {
    width: 50%;
    height: 360px;
    width: 98%;
}

  
  .custom-button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #23527c;
  }
