<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Calculator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foods/styles.css' %}">

</head>
<body>
    <h1>Calorie Calculator</h1>

    <form id="food-form">
        <label for="food-select">Select Food:</label>
        <select id="food-select">
            <option value="">-- Select Food --</option>
            {% for food in food_list %}
                <option value="{{ food.calorie }}" data-weight="{{ food.weight }}" data-protein="{{ food.protein }}" data-fats="{{ food.fats }}" data-carbohydrates="{{ food.carbohydrates }}">{{ food.food_name }}</option>
            {% endfor %}
        </select>
        <button type="button" id="add-button">Add Food</button>
    </form>

    <h2>Selected Foods:</h2>
    <table id="selected-foods">
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Weight (g)</th>
                <th>Calorie</th>
                <th>Protein (g)</th>
                <th>Fats (g)</th>
                <th>Carbohydrates (g)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Selected foods will be displayed here dynamically -->
        </tbody>
    </table>

    <h4>Total Weight: <span id="total-weight">0</span></h4><br>
    <h4>Total calorie: <span id="total-calorie">0</span></h4><br>
    <h4>Total protein: <span id="total-protein">0</span></h4><br>
    <h4>total-fats: <span id="total-fats">0</span></h4><br>
    <h4>total-carbohydrates: <span id="total-carbohydrates">0</span></h4><br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/foods/scripts.js' %}"></script>

</body>
</html>
